<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapper for tbl project   -->
<mapper namespace="com.v315.security.dao.UserDao">

        <!-- Login -->
        <select id="findByUsername" resultType="com.v315.security.model.User">
                SELECT user_id,
                first_name,
                last_name,
                username,
                password,
                role
                FROM tbl_user_mst
                WHERE username = #{username}
        </select>

        <insert id="save" parameterType="com.v315.security.shared.RegisterRequest">
        INSERT INTO tbl_user_mst (
            first_name,
            last_name,
            username,
            password,
            role
        )
        VALUES (
            #{first_name},
            #{last_name},
            #{username}, 
            #{password},
            #{role}
        );
    </insert>
</mapper>